<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Medium</string>
        <string>Roboto-Regular</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_viziocast._tcp</string>
		<string>_amzn-wplay._tcp</string>
		<string>_B0A50485._googlecast._tcp</string>
	</array>
</dict>
</plist>
